body {
    background-color: #865A03;
    /*background-image: url('../images/bg/home.jpg');*/
    background-size: cover;
    background-blend-mode: lighten;
    color: white;
}
.wp-block {
    max-width: 1210px;
}
#post-title-0, label[for="post-title-0"] {
    color: white;
    opacity: 0.5;
}