.gallery-page {
    position: absolute;
    width: 100%;
    left: 0;
    margin: 0;

    .header, .image-grid{
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
    }

    .hero-wrapper{
        background-color: black;
        position: fixed;
        z-index: 9;
        right: 0;
        width: 75vw;
        display: none;
        margin-bottom: 4em;

        &.open {
            display: flex;
        }

        .hero{
            background-color: #000;
            width: 90%;
            max-width: 1100px;
            padding: 1rem;

            img{
                width: 50%;
                max-width: 500px;
                margin-right: 10%;
            }
            .gallery-text{
                justify-content: space-evenly;
            }
        }
        .hero-side{
            flex-grow:1;
        }
        .hero-right{
            background-color: #000;
        }
    }

    .image-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1100px;

        $wrapperWidth: 25%;
        $imgMargin: 5px;

        .image-wrapper {
            overflow: hidden;
            position: relative;
            flex-basis: calc( #{$wrapperWidth} - #{$imgMargin} * 2);
            margin: $imgMargin;

            img {
                top: 50%;
                left: 50%;
                position: absolute;
                min-width: 100%;
                height: auto;
                min-height: 100%;
                transform: translate(-50%, -50%);
            }

            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }

            .hero-content {
                display: none;
            }
        }
    }

}