.home-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .hero-text {
        max-width: 500px;
        padding: 0 30px;
        justify-content: flex-end;
        padding-bottom: 6rem;
    }
    .homepage-hero-img{
    	padding: 25px;
    	background-color: #000;
    }
    .second-line{
    	margin-top: -10px;
    }
    .video-frame{
        position: relative;
    }
    .play-button{
        background-color: rgba(0,0,0,0.5);
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 40px;

        .play-triangle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 30px;
            width: 30px;
            border-style: solid;
            border-color: transparent transparent transparent red;
            border-width: 20px 0px 20px 30px;
            margin-left: 5%;
        }
    }
}