.music-page {

    .music-section {
        .column {
            width: 33.333%;
        }

        .bio {
            margin: auto 0;
        }

        .listen {

            #player {
                background-color: black;

                .tracks {
                    padding: 30px;

                    .media-list {
                        list-style: decimal-leading-zero;
                        list-style-position: inside;
                    }                    
                }
            }
        }

        .album-covers {
            justify-content: flex-end;
            img {
                width: 100%;
                height: auto;
                margin-bottom: 15px;
            }
        }
    }



    .video-section {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 2%;

        .video {
            width: 66.666%;
            height: 200px;
            background-color: white;
            margin-bottom: 30px;
        }
    }
}