//global fonts
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/fonts/Poppins-Italic.woff2') format('woff2'),
        url('../fonts/fonts/Poppins-Italic.woff') format('woff'),
        url('../fonts/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// STYLES
html{
    margin: 0 !important;
    margin-top: 0 !important;
    color: white;
}
body {
    margin: 0;
    font-size: 18px;
    background-color: black;
    font-size: 16px;
    background-image: url('../images/bg/home.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5{
    font-family: 'Poppins';
    font-style: normal;
}
p, a, span, h1, h2, h3, h4, h5, * {
    color: white;
    
    &:hover {
        text-decoration-color: white;
    }
}


// for quick layouting
.column {
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
}
.row {
    display: flex;
    flex-direction: row;
    margin: 0;
}


// black portrait frame classes
// ie: the black image boxes in the homepage;
$frame-padding: 15px;
.framed {
    background-color: black;
    padding: $frame-padding;

    &.small {
        max-width: 450px
    }
    &.medium {
        max-width: 560px
    }
    &.large {
        max-width: 1050px
    }

    &.no-top-padding {
        padding-top: 0;
    }
    &.no-right-padding {
        padding-right: 0;
    }
    &.no-bottom-padding {
        padding-bottom: 0;
    }
    &.no-left-padding {
        padding-left: 0;
    }
}
.frame-title {
    background-color: black;
    color: white;
    text-transform: capitalize;
    margin: 0;
    padding: $frame-padding;
    text-align: right;
}

.title-link:hover {
    text-decoration: none;
}


header {
    display: flex;

    h1 {
        font-size: 6em;
        flex-grow: 1;
        font-weight: bold;
    }
    .title{
        max-width: 875px;
    }
    button {
        background: none;
        border: 0;
        margin: 0 0 0 1em;
        text-align: right;
        flex-grow: 1;

        &:active,
        &:focus {
            border: 0;
            outline: 0;
        }

        img {
            max-width: 35px;
        }
    }
}
.page-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


#site-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: none;
    z-index: 99999999;

    &.open {
        display: block;
    }

    .hamburger {
        background: none;
        border: 0;
        margin: 0 0 0 1em;
        text-align: right;
        flex-grow: 1;
        position: absolute;
        left: 0;
        top: 100px;

        &:active,
        &:focus {
            border: 0;
            outline: 0;
        }

        img {
            max-width: 50px;
        }
    }

    nav {
        text-align: center;
        max-width: 580px;
        margin: 0 auto;

        h1 {
            font-size: 4em
        }

        ul {
            margin: 0;
            list-style: none;
            margin-top: 150px;

            li {
                a {
                    font-size: 3em;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}